/* Styles for highcharts plot */
@import 'https://code.highcharts.com/css/highcharts.css';

/* Can't get this type of styling to work properly... */
.highcharts-title {
  color: #88cc00;
}

.highcharts-series, .time-series-line,
.highcharts-series-0, .highcharts-line-series,
.highcharts-color-0,
.highcharts-halo,
.highcharts-tracker-line{
  fill: #88cc00;
  stroke: #88cc00;
}
